<h1 id="about">Sobre</h1>

<p> Password Pusher é um aplicativo para comunicar senhas pela web. Os links para senhas expiram após um certo número de visualizações e / ou tempo. Hospedado em <a href="https://pwpush.com"> pwpush.com </a> ou hospede o seu próprio. </p>

<p> O código-fonte deste site é <a href="https://github.com/pglombardo/PasswordPusher"> no Github </a>. É código aberto e gratuito para qualquer pessoa usar ou modificar. Implante-o na nuvem, internamente em sua organização ou apenas use pwpush.com. Depende de você. </p>

<h2 id="the-author">O Autor</h2>

<p>Meu nome é Peter Giacomo Lombardo. Você pode me encontrar no <a href="https://www.linkedin.com/in/peterlombardo/">LinkedIn</a>, <a href="https://github.com/pglombardo">Github</a> ou <a href="https://the0x00.dev">The OxOO</a>.</p>

<p>Para updates, você pode you can <a href="https://twitter.com/pwpush">me seguir n Twitter</a> ou <a href="https://github.com/pglombardo">Github</a>.</p>

<h2 id="credits">Creditos</h2>

<p>O Password Pusher tem uma grande comunidade de colaboradores. <a href="https://github.com/pglombardo/PasswordPusher/graphs/contributors">Dê uma olhada</a>.</p>
