<h1 id="faq">FAQ</h1>

<h2 id="trust-is-a-concern-why-should-i-use-password-pusher">A confiança é uma preocupação. Por que devo usar o Password Pusher?</h2>

<p> E com razão. Toda boa segurança começa com um ceticismo saudável em relação a todos os componentes envolvidos. </p>

<p> O Password Pusher existe como uma alternativa melhor para enviar senhas por e-mail. Isso evita que as senhas existam em arquivos de e-mail para sempre. Ele não existe como uma solução de segurança completa. </p>

<p> <strong> O Password Pusher é um código aberto para que a fonte possa ser revisada publicamente e, como alternativa, pode ser executada internamente em sua organização. </strong> </p>

<p> <strong> As senhas são totalmente excluídas do banco de dados quando expiram. </strong> Além disso, tokens de URL aleatórios são gerados rapidamente e as senhas são postadas sem contexto (para onde vão). </p>

<p> <em> Uma observação para aqueles interessados ​​em segurança extrema: </em> não há como eu provar com segurança que o código aberto é o mesmo que roda em <a href = "https: // pwpush. com / "> pwpush.com </a> (isso é verdade para todos os sites). A única coisa que posso fornecer a esse respeito é minha reputação pública no <a href="https://github.com/pglombardo"> Github </a>, <a href = "https://www.linkedin.com / in / peterlombardo / "> LinkedIn </a>, <a href="https://twitter.com/pglombardo"> Twitter </a> e <a href="https://the0x00.dev"> meu blog </a>. Se isso for uma preocupação para você, sinta-se à vontade para revisar o código, poste quaisquer perguntas que você possa ter e considere executá-lo internamente em sua organização. </p>

<h2 id = "are-there-other-way-i-can-access-password-pusher-outside-of-a-browser"> Existem outras maneiras de acessar o Password Pusher fora de um navegador? </h2>

<p> Com certeza. O Password Pusher tem um bom número de aplicativos e utilitários de linha de comando que fazem interface com o pwpush.com ou, alternativamente, executam instâncias de maneira privada. Veja nossas <a href="/pages/tools"> Ferramentas e amp; Página de aplicativos </a> para obter mais detalhes. </p>

<h2 id = "can-i-automate-my-password-distribution"> Posso automatizar a distribuição da minha senha? </h2>

<p> Sim - muitos usuários utilizam o Slack ou a linha de comando para enviar e distribuir senhas. Veja nossas <a href="/pages/tools"> Ferramentas e amp; Página de aplicativos </a> para obter mais detalhes. </p>

<h2 id = "how-many-requests-can-i-send-to-password-pusher"> Quantas solicitações posso enviar para o Password Pusher? </h2>

<p> Não há limites no momento e não tenho intenção de adicionar nenhum. Para garantir ao mínimo a estabilidade do site, o Password Pusher é configurado com um limitador de taxa por padrão. </p>

<h2 id = "how-can-i-run-my-own-version-for-my-organization"> Como posso executar minha própria versão para minha organização? </h2>

<p> Consulte nossa documentação de instalação para obter mais detalhes. </p>

<h2 id = "are-there-any-licensing-permissions-for-me-my-company-or-my-organization"> Há alguma restrição de licenciamento para mim, minha empresa ou minha organização? </h2>

<p> O código-fonte é lançado sob a GNU General Public License v3.0 e isso define quase todas as limitações. Existem alguns & amp; sites clonados reprojetados do Password Pusher e dou as boas-vindas a todos eles. </p>

<h2 id = "can-i-use-password-pusher-in-my-talkpresentationconference"> Posso usar o Password Pusher em minha palestra / apresentação / conferência? </h2>

<p> Com certeza. Agradecemos o envio de um link para a palestra / apresentação / conferência para que eu possa compartilhá-lo no Twitter. </p>

<h2 id = "could-you-add-a-specific-feature-for-my-organization"> Você poderia adicionar um recurso específico para minha organização? </h2>

<p> Muito provavelmente. Adoro ouvir todas as ideias & amp; comentários. Se você tiver algum, envie-o para o <a href="https://github.com/pglombardo/Password Pusher"> repositório Github </a> e eu responderei o mais rápido possível. </p>

<h2 id = "how-do-you-make-money"> Como você ganha dinheiro? </h2>

<p> Eu não. Este é apenas um projeto favorito no qual trabalho nas minhas horas vagas, construído para a comunidade. Os custos mensais são de US $ 34 / mês para a hospedagem Heroku e qualquer tempo / esforço que eu coloquei ou irei dedicar ao desenvolvimento da ferramenta é voluntário / doado. </p>

<p> Pensei em mudar o site para uma gota do oceano Digital, mas o Heroku torna isso muito mais fácil. Sem configurar Apache / nginx, implantar scripts, monitorar serviços etc ... </p>

<p> <strong> Atualização 2021 </strong>: o tráfego cresceu a um ponto em que 1 dinamômetro Heroku não é mais suficiente. 2 dinamômetros profissionais e o complemento postgres agora têm o projeto de até US $ 59 / mês. </p>