
<p> Não ganho dinheiro com o Password Pusher. Eu pago as taxas de hospedagem do meu bolso - <strong> e é absolutamente um prazer </strong>. Eu gosto do projeto que requer apenas esforços ocasionais e estou sempre feliz em ajudar meus amigos sysadmin / support / devops / netsec em todo o mundo. </p>

<p> Dito isso, se alguém tiver o desejo de retribuir ao suporte do Password Pusher, eu solicitaria apenas um ou mais dos seguintes: </p>
<ol>
  <li> Compartilhe e sugira Password Pusher para colegas e amigos nas redes sociais e fora dela </li>
  <li>Me siga (<a href="https://twitter.com/pwpush">Twitter</a>, <a href="https://github.com/pglombardo">Github</a>) e <a href="https://github.com/pglombardo/PasswordPusher">estrela o projeto Github</a> (sem valor, mas é divertido ver os números)</li>
  <li>Se você quiser, pode sempre contribuir com código, correções, melhorias ou documentação <a href="https://github.com/pglombardo/PasswordPusher">via Github</a>.</li>
</ol>

<p>Obrigado pela ajuda</p>

<p>Peter Giacomo Lombardo</p>

