<h1 id="promise">Promessas</h1>

<p>Julho de 2021</p>

<p>Como estamos chegando agora em <a href="https://twitter.com/pwpush/status/1402331907824701447"> 10 anos de Password Pusher</a>, existem alguns princípios orientadores que sempre foram seguidos, mas não foram documentados (até agora).</p>

<p>À medida que continuo a desenvolver o Password Pusher, adicionando novos recursos e funcionalidades, existem alguns princípios aos quais continuarei fiel:</p>

<p><strong>1. Página de revelação de senha de distração zero</strong></p>

<p> Quando você envia aos usuários o link secreto para uma senha, o que é pior se esses usuários se distraem e ficam confusos com a página que acessam? Você poderia imaginar se houvesse publicidade? Eu mudaria rapidamente dessa ferramenta o mais rápido possível. </p>

<p> O objetivo final é comunicar uma senha aos usuários finais. Alguns usuários finais são mais facilmente distraídos e confusos do que outros. Sempre tentamos minimizar esses desafios do usuário final. :-) </p>

<p> Portanto, nesse sentido, sempre nos certificaremos de manter a página de revelação de senha o mais simples e direta possível. Isso significa <strong> sem marca </strong>, <strong> sem links </strong> e <strong> sem textos ou designs confusos </strong>. </p>

<p><img src="https://disznc.s3.amazonaws.com/Screen-Shot-2021-06-12-at-6.29.43-PM.png" alt="Exemplo de página de revelação de senha" /></p>

<p> <strong> 2. Um aplicativo acessível e fácil de implantar </strong> </p>

<p> O Password Pusher é originalmente um aplicativo de código aberto que é bifurcado, modificado e implantado internamente (e externamente) em várias organizações. Isso é ótimo e, como sempre, continuarei a apoiar isso, como fiz no passado. </p>

<p> Desde junho de 2021, agora temos compilações de dock automatizadas e oferecemos suporte a um grande número de destinos de implantação. </p>

<p> <strong> 3. Priorizar recursos solicitados pela comunidade de usuários </strong> </p>

<p> Isso é basicamente autoexplicativo. A maioria das mudanças nos últimos anos ocorreu a pedido dos usuários. Isso é ótimo e continuará. </p>

<h2 id="what-else">O que mais?</h2>

<p>Há mais alguma coisa que você gostaria de ver aqui? <a href="https://github.com/pglombardo/PasswordPusher/issues/new">Avise</a>.</p>
