<center>
<h2>A extensão Password Pusher Slack foi instalada.</h2>
<p>&nbsp</p>
<p>Agora experimente!</p>
<p>&nbsp</p>
<p>
  <%= image_tag 'https://disznc.s3.amazonaws.com/pwpush-slack.png' %>
</p>

<strong>Exemplos:</strong>:

<pre>
/pwpush meupassword

/pwpush meupassword 10,30  (10 visualizações e 30 dias)
</pre>

</center>