<h1 id="tools--applications">Ferramentas &amp; Aplicações</h1>

<p>Usando a API JSON, existem várias ferramentas para fazer a interface com o Password Pusher para automatizar a distribuição de senhas.</p>

<p>Não temos limites para quantas senhas você pode empurrar (e não temos a intenção de adicionar limites), mas temos um limitador de taxa para que o site não seja retirado do ar por roteiros ou atores mal-intencionados. Limite suas ferramentas a no máximo 1 senha a cada poucos segundos e você estará bem.</p>

<h1 id="slack">Slack</h1>

<p>We don’t have an official Slack application but it’s fairly simple to add a custom slash command: <a href="https://github.com/pglombardo/PasswordPusher/wiki/PasswordPusher-&amp;-Slack:-Custom-Slash-Command">Slack: How to Add a Custom Slash Command</a></p>

<p><img src="https://disznc.s3.amazonaws.com/pwpush-slack.png" alt="" /></p>

<h2 id="command-line-utilities">Utilitários de linha de comando</h2>

<p>Alguns ótimos utilitários de linha de comando escritos pela comunidade.</p>

<ul>
  <li>
    <p><a href="https://github.com/pgarm/pwposh">pgarm/pwposh</a>: um módulo PowerShell disponível no <a href="https://www.powershellgallery.com/packages/PwPoSh/"> Galeria PowerShell </a></p>
  </li>
  <li>
    <p><a href="https://github.com/kprocyszyn/tools/blob/master/Get-PasswordLink/Get-PasswordLink.ps1">kprocyszyn/.Get-PasswordLink.ps1</a>: uma CLI baseada em PowerShell</p>
  </li>
  <li>
    <p><a href="https://github.com/lnfnunes/pwpush-cli">lnfnunes/pwpush-cli</a>: uma CLI baseada em Node.js</p>
  </li>
  <li>
    <p><a href="https://github.com/abkierstein/pwpush">abkierstein/pwpush</a>: uma CLI baseada em Python</p>
  </li>
</ul>

<h2 id="android-apps">Aplicações Android</h2>

<ul>
  <li><a href="https://play.google.com/store/apps/details?id=com.chesire.pushie">Pushie</a> por <a href="https://github.com/chesire">chesire</a></li>
</ul>

<h2 id="other">Outros</h2>

<ul>
  <li><a href="http://www.packal.org/workflow/passwordpusher">Fluxo de Trabalho Alfred</a> para usuarios MAC</li>
</ul>

<h2 id="raw-api">Raw API</h2>

<p>Esta API permite que você interaja com o Password Pusher via JSON. Isso pode ser utilizado por utilitários existentes, como curl, wget ou até mesmo javascript. Veja os exemplos abaixo para algumas idéias.</p>

<ul>
  <li><a href="https://github.com/pglombardo/PasswordPusher/wiki/Password-API">A API JSON do Password Pusher</a></li>
</ul>

<h3 id="examples">Exemplos</h3>

<h4 id="curl">Curl</h4>

<p><code>
curl -X POST --data "password[payload]=mypassword&amp;password[expire_after_days]=2&amp;password[expire_after_views]=10" https://pwpush.com/p.json
</code></p>

<h4 id="browser-js-console">Browser JS Console</h4>

<p>Você pode testar isso no console Javascript do seu navegador, indo para a página inicial do Password Pusher e digite:</p>

<p><code>
$.post('https://pwpush.com/p.json',
         { 'password[payload]': 'mypassword', 'password[expire_after_days]': '2',
           'password[expire_after_views]': '10' }, 
           function(data) { alert(data.url_token) } )
</code></p>

<p>Veja mais explicações e exemplos em nosso <a href="https://github.com/pglombardo/PasswordPusher/wiki/Password-API">Github Wiki</a>.</p>
