<h2 id="what-purpose-does-password-pusher-serve">Qual é a finalidade do Password Pusher?</h2>

<p>O Password Pusher existe como uma alternativa melhor para enviar senhas por e-mail.</p>

<p><strong> O envio de senhas por e-mail é inerentemente inseguro. </strong> Os maiores riscos incluem: </p>

<ul>
  <li>As senhas enviadas por e-mail são geralmente enviadas com o contexto para onde vão ou podem ser derivadas do nome de usuário do e-mail, domínio, etc ...</li>
  <li>O e-mail é inerentemente inseguro e pode ser interceptado em vários pontos por entidades mal-intencionadas.</li>
  <li>As senhas enviadas por e-mail permanecem perpetuamente (leia-se: para sempre) em arquivos de e-mail</li>
  <li>As senhas no e-mail podem ser recuperadas e usadas posteriormente se uma conta de e-mail for roubada, quebrada etc.</li>
</ul>

<p>Os mesmos riscos persistem ao enviar senhas via SMS, WhatsApp, Telegram, Chat etc ... Os dados podem e muitas vezes são perpétuos e fora de seu controle.</p>

<p><strong>Ao usar o Password Pusher, você ignora tudo isso.</strong></p>

<p>Para cada senha postada no Password Pusher, <strong> um URL exclusivo é gerado que só você saberá </strong>. Além disso, <strong> as senhas expiram depois que um conjunto predefinido de visualizações é atingido ou o tempo passa </strong>. Depois de expiradas, as senhas são excluídas de forma inequívoca.</p>

<p>Se isso parece interessante para você, <a href="/">try it out</a> ou veja nossos outros <a href="/pages/faq">Frequently Asked Questions</a>.</p>
