<div class="center-content">
<p class="expired-message">
  Pedimos desculpas, mas este link secreto expirou.
  <p>
    Este link secreto

    <% if @password.deleted %>
      foi expirado manualmente por um de seus visualizadores
    <% elsif @password.views_remaining == 0 %>
      atingiu sua contagem máxima de visualizações (<%=@password.expire_after_views%>)
    <% elsif @password.days_remaining == 0 %>
      atingiu sua idade máxima (<%=@password.expire_after_days%> days)
    <% end %>

    e a senha foi excluída do banco de dados.
  </p>
  <p>Se necessário, entre em contato com a pessoa ou organização que lhe forneceu este URL secreto.</p>
</p>
</div>